################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiGateway
/ApiGateway/obj
/ApiGateway/bin/Debug/net5.0
